h2 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 17px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

svg {
  position: absolute;
  bottom: 33px;
  right: 25px;
}

.hero {
  background-color: #F6F6F6;
  padding: 39px 0 57px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .hero {
    padding: 30px 0;
  }
}
.hero h2 {
  margin: 0 50px 12px 50px;
}
@media (min-width: 768px) {
  .hero h2 {
    font-size: 40px;
  }
}
.hero p {
  margin: 0 30px 27px 30px;
  font-size: 18px;
  color: #353535;
}
.hero button {
  width: 13.63rem;
  height: 3.13rem;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  color: white;
  transition: all 500ms ease-in-out;
}
.hero button:hover {
  background-image: linear-gradient(to top, #a16be0, #ff93e1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.functioning {
  margin: 48px 20px 43px 20px;
}
@media (min-width: 768px) {
  .functioning {
    margin: 50px 180px 50px 180px;
  }
}
.functioning h2 {
  margin-bottom: 26px;
}
@media (min-width: 1024px) {
  .functioning .buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
}
.functioning .buttons-container button {
  width: calc(100% - 20px);
  height: 4.52rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 25px 12.5px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
  border: none;
}
@media (min-width: 768px) {
  .functioning .buttons-container button {
    width: 100%;
  }
}
.functioning .buttons-container button .i-mobile {
  margin-right: 27px;
  margin-left: 9.47px;
  color: #7E7E7E;
}
.functioning .buttons-container button .i-list {
  margin-right: 23px;
  margin-left: 10.49px;
  color: #7E7E7E;
}
.functioning .buttons-container button .i-store {
  margin-right: 20px;
  margin-left: 11.49px;
  color: #9356DC;
}
.functioning .buttons-container button span {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  font-size: 14.18px;
  font-weight: 500;
  position: relative;
  right: 12.51px;
  color: white;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 54px 20px 66px 20px;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 30px 180px 30px 180px;
  }
}
.restaurants h2 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .restaurants h2 {
    margin-bottom: 28px;
  }
}
.restaurants .cards-container {
  display: grid;
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurants .cards-container {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
  }
}
.restaurants .cards-container .card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  color: black;
  padding-bottom: 16px;
}
.restaurants .cards-container .card span {
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 13px;
  right: 12px;
}
.restaurants .cards-container .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  margin-bottom: 15px;
}
.restaurants .cards-container .card h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px 16px;
}
.restaurants .cards-container .card p {
  margin-left: 16px;
}
.restaurants .cards-container .card .regular-heart:hover + .solid-heart {
  transform: scale(1);
}
.restaurants .cards-container .card .solid-heart {
  fill: url(#icon);
  transform-origin: top;
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}/*# sourceMappingURL=indexMain.css.map */