@import 'mixins.scss';
@import 'vars.scss';

h2 {
    @include txt-format(24px, 700);
}

p {
    @include txt-format(17px, 300);
}

a {
    text-decoration: none;
}

.hero {
    background-color: $background-color;
    padding: 39px 0 57px 0;
    text-align: center;

    h2 {
        margin: 0 58px 12px 42px;
    }

    p {
        margin: 0 26px 27px 34px;
        font-size: 18px;
        color: $txt-color;
    }

    button {
        width: 13.63rem;
        height: 3.13rem;
        border-radius: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(to top, $primary-color, $secondary-color);
        border: none;
        color: white;

        &:hover {
            background-image: linear-gradient(to top, lighten($primary-color, 5%), lighten($secondary-color, 5%));
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
        }
    }
}

.functioning {
    margin: 48px 20px 43px 20px;

    h2 {
        margin-bottom: 26px;
    }

    button {
        width: 96%;
        @include flex-center(4.52rem, flex-start);
        margin: 0 0 25px 12.5px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        background-color: $background-color;
        border: none;

        .i-mobile {
            @include icon-button(9.47px, 27px, $icon-color);
        }

        .i-list {
            @include icon-button(10.49px, 23px, $icon-color);
        }

        .i-store {
            @include icon-button(11.49px, 20px, $primary-color);
        }

        span {
            width: 24px;
            @include flex-center(24px);
            background-color: $primary-color;
            border-radius: 50%;
            @include txt-format(14.18px, 500);
            position: relative;
            right: 12.51px;
        }
    }
}

.restaurants {
    background-color: $background-color;
    padding: 54px 17px 66px 17px;

    h2 {
        margin: 0 0 20px 3px;
    }

    .cards-container {
        display: grid;
        gap: 18px;

        .card {
            position: relative;
            background-color: white;
            border-radius: 15px;
            color: black;
            padding-bottom: 16px;
            text-decoration: none;

            span {
                width: 80px;
                @include flex-center(29px);
                background-color: #99E2D0;
                color: #008766;
                position: absolute;
                top: 13px;
                right: 12px;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 231px;
                border-radius: 15px 15px 0 0;
                margin-bottom: 14px;
            }

            h3 {
                @include txt-format(18px, 700);
                margin-bottom: 5px;
            }

            i {
                position: absolute;
                top: 275px;
                right: 25px;
            }
        }
    }
}