@mixin flex-center($height, $horizontal-position : center) {
    height: $height;
    display: flex;
    justify-content: $horizontal-position;
    align-items: center;
}

@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin txt-format($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin font-logo {
    font-family: 'Shrikhand';
    font-style: italic;
}

@mixin icon-button($marginLeft, $marginRight, $color) {
    margin-right: $marginRight;
    margin-left: $marginLeft;
    color: $color;
}
