@keyframes load-plat {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
svg {
  position: absolute;
  right: 24px;
}
@media (min-width: 768px) {
  svg {
    right: 0;
    margin-left: 24px;
  }
}

h2 {
  height: 27px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
h2::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  font-size: 15px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.i-check {
  color: #99E2D0;
}

main {
  position: relative;
  padding-top: 220px;
}
main .img-main {
  display: block;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}
main .menu {
  position: relative;
  z-index: 1;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding: 30px 13px 40px 13px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  main .menu {
    padding: 30px 210px 40px 210px;
  }
}
@media (min-width: 1024px) {
  main .menu {
    max-width: 634px;
    margin: auto;
  }
}
main .menu h1 {
  font-size: 28px;
  position: relative;
  margin: 0 4px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  main .menu h1 {
    width: 307px;
    margin: auto;
  }
}
main .menu h1 .regular-heart:active + .solid-heart {
  transform: scale(1);
}
main .menu h1 .solid-heart {
  fill: url(#icon);
  transform-origin: top;
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}
main .menu section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .menu section .plat-container {
  background-color: white;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}
main .menu section .plat-container:hover .icon-div {
  margin-right: 0;
}
main .menu section .plat-container:hover .plat {
  width: calc(100% - 90px);
}
main .menu section .plat-container .plat {
  transform-origin: left;
  padding: 15px;
  width: 100%;
  transition: 0.5s ease-in-out;
}
main .menu section .plat-container .plat-1 {
  animation: load-plat 500ms;
  animation-delay: 0ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat-2 {
  animation: load-plat 500ms;
  animation-delay: 500ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat-3 {
  animation: load-plat 500ms;
  animation-delay: 1000ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat-4 {
  animation: load-plat 500ms;
  animation-delay: 1500ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat-5 {
  animation: load-plat 500ms;
  animation-delay: 2000ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat-6 {
  animation: load-plat 500ms;
  animation-delay: 2500ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat-7 {
  animation: load-plat 500ms;
  animation-delay: 3000ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat-8 {
  animation: load-plat 500ms;
  animation-delay: 3500ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat-9 {
  animation: load-plat 500ms;
  animation-delay: 4000ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat-10 {
  animation: load-plat 500ms;
  animation-delay: 4500ms;
  animation-fill-mode: both;
}
main .menu section .plat-container .plat .span-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menu section .plat-container .plat .span-2 {
  font-weight: 700;
  color: #353535;
}
main .menu section .plat-container .icon-div {
  height: 70px;
  width: 59px;
  margin-right: -59px;
  transition: 0.5s ease-in-out;
}
main .menu .button {
  align-items: center;
}
main .menu .button button {
  width: 186px;
  height: 3.13rem;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  color: white;
  transition: all 500ms ease-in-out;
}
main .menu .button button:hover {
  background-image: linear-gradient(to top, #a16be0, #ff93e1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=restaurants.css.map */